{% extends "base.html" %}
{% block title %}Order ID: {{order.id}} {% endblock title %}

{% block content %}    
    <div class="container d-flex align-items-center justify-content-center vh-100">
      <div class="pb-lg-5 " >
        <a href="javascript:history.go(-1)" class="btn btn-outline-primary m-2">←</a>
        <div class="card" style="width: absolute;">
          <div class="card-body pb-lg-5 m-lg-5">
                  <h4 class="card-title pb-2">Buyer Details</h4>
                  <h5 class="card-subtitle mb-2 text-body-secondary ">Order information</h5>
                  <hr>
                  <h6 class="card-text p-2 text-black"><b>Product ID:</b> {{order.id}}</h6>
                  <h6 class="card-text p-2 text-black" hidden id="total">{{order.TotalPrice}}</h6>
                  <h6 class="card-text p-2 text-black"><b>Name:</b> {{order.Full_name}}</h6>
                  <h6 class="card-text p-2 text-black"><b>Email:</b> {{order.Email}}</h6>
                  <h6 class="card-text p-2 text-black"><b>Address:</b> {{order.Address}}</h6>
                  <h6 class="card-text p-2 text-black"><b>Phone Number:</b> {{order.Phone_number}}</h6>
                  <h6 class="card-text p-2 text-black"><b>Total Price: ৳</b>{{order.TotalPrice}}</h6>
                  <h6 class="card-text p-2 text-black " hidden><b>Items:</b> <span id="items">{{order.items}}</span></h6>
                  <buton id="showItems" class="btn btn-light w-100"><h6 class="card-text p-2 text-black"><b>Items</b></h6></buton>
                </div>
              </div>
        </div>
      </div>

{% block js %}
{% load static %}
<script src="{% static "/js/orders.js" %}"></script>
{% endblock js %}
{% endblock content %}